<h1>liste des etudians</h1>
<table>
    <thead>
        <tr>
            <th>Numero</th>
            <th>Nom</th>
            <th>Prenom</th>
        </tr>
    </thead>
    <tbody>
        <% etudiants.forEach(function(etudiant) { %>
            <tr>
                <td>
                    <a href="/etud/<%= etudiant.numero %>">
                        <%= etudiant.numero %>
                    </a>
                </td>
                <td>
                    <a href="/etud/<%= etudiant.numero %>">
                        <%= etudiant.nom %>
                    </a>
                </td>
                <td>
                    <a href="/etud/<%= etudiant.numero %>">
                        <%= etudiant.prenom %>
                    </a>
                </td>
            </tr>
        <% }); %>
    </tbody>
</table>
<style>
    table {
        border-collapse: collapse;
        width: 100%;
    }

    th,
    td {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    th {
        background-color: #f2f2f2;
    }
</style>